.repositoryItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  background-color: #fff;
  border-radius: 3px;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 3px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 480px) {
  .repositoryItem {
    flex-wrap: nowrap;
  }
}

.repoInfo {
  display: flex;
  flex: auto;
  margin-bottom: 24px;
  margin-right: 24px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .repoInfo {
    margin-bottom: 0;
  }
}

.avatar {
  width: 40px;
  height: 40px;
}

.repoInfoNames {
  margin-left: 24px;
}

.repoName {
  font-size: 18px;
  font-weight: 600;
}

.ownerName {
  font-size: 12px;
}

.triggerButton {
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  flex-basis: 100%;
  height: 40px;
  border-radius: 20px;
  border: 4px solid var(--color-secondary);
}
@media screen and (min-width: 480px) {
  .triggerButton {
    flex-basis: 140px;
  }
}

